# Docker Compose configuration for development environment
# server + mysql
version: "3.9"
services:
  db:
    image: mysql:8.0
    env_file:
      - .env
    ports:
      - "3307:3306"
    networks:
      - app-net
    volumes:
      - db:/var/lib/mysql

  server:
    build: .
    env_file:
      - .env
    ports:
      - "3000:3000"
    networks:
      - app-net
    volumes:
      - .:/app
      - /app/node_modules

networks:
  app-net:

volumes:
  db:
