version: "3.9"
name: docker-compose-prod-v2

services:
  db:
    image: mysql:8.0
    restart: unless-stopped
    env_file:
      - .env
    command: --default-authentication-plugin=mysql_native_password
    networks:
      - private-net
    volumes:
      - db:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  server:
    build:
      context: ./server
      dockerfile: Dockerfile_production_v2
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "3000:3000"
    networks:
      - private-net
      - public-net
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/health"]
      interval: 30s
      timeout: 10s
      retries: 3
    volumes:
      - ./logs/server:/app/logs

  client:
    build:
      context: ./client
      dockerfile: Dockerfile_production_v2
      args:
        VITE_API_URL: ${VITE_API_URL}
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "80:80"
    networks:
      - public-net
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost"]
      interval: 30s
      timeout: 5s
      retries: 3

networks:
  private-net:
  public-net:

volumes:
  db:
